body {
  font-family: "AirbnbCerealBook", sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: white;
  opacity: 0.8;
}
/* standard html elements */
button {
  color: rgb(75, 189, 255);
  text-align: center;
  background-color: white;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}
button:hover {
  background: black;
}


.Dropdown-root {
  
  text-align: left;
}
/* custom classes */
.Dropdown-control {
  
  height: 4rem;
  width: 20rem;
  
  
}
.Dropdown-placeholder {
  color: rgb(75, 189, 255);
  padding-top: 1.25rem;
  
  overflow-wrap: break-word;

}

.Dropdown-arrow {

}

.Dropdown-root.is-open > .Dropdown-menu {
  width: 20rem;
  padding-top: 1.25rem;
  padding-right: 3rem;
  
  
}

.Dropdown-root.is-open > .Dropdown-menu > .Dropdown-option {
  color: rgb(75, 189, 255);
  overflow-wrap: break-word;
}


.dropdown-layout-div {
  display: flex;
  flex-direction: row;
  float: right;
  width: 400px;
}

.zone-container {
  box-sizing: border-box;
  border: 1px solid grey;
  margin: 0.5rem auto;
  width: 1000px;
  height: 700px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.row {
  display: "flex";
  line-height: 32px;
  height: 32px;
}
