html {
  font-size: 16px;
}
body {
  font-family: "AirbnbCerealBook", sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: white;
  
}
/* standard html elements */
button {
  color: rgb(75, 189, 255);
  text-align: center;
  background-color: white;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}
button:hover {
  background: black;
}

.Dropdown-root * {
  width: 16rem;
  height: 4rem;
  text-align: left;
  color: black;
  overflow-wrap: break-word;
  background-color: rgb(75, 189, 255);
}
/* custom classes */
.Dropdown-control {
  
  
  background-color: rgb(75, 189, 255)!important;
  
  
}
.Dropdown-placeholder {
  
  padding-top: 1rem;

}

.Dropdown-arrow {
  background-color:rgb(75, 189, 255);
  border-color: white transparent transparent !important;
  border-top-color: white !important;
  width: 0.25rem !important;
}

.Dropdown-root.is-open {
  
}


.Dropdown-root.is-open > .Dropdown-menu {
  
  width: 16rem;
  height: 500px;
  padding-right: 3rem;
  background-color: rgb(75, 189, 255);
  
  
  
}

.Dropdown-root.is-open > .Dropdown-menu > .Dropdown-option {
  background-color: rgb(75, 189, 255);
  color: black;
  
  padding-top: 1rem;
 
}


.dropdown-layout-div {
  display: flex;
  
  flex-direction: row;
  float: right;
  width: 400px;
}

.zone-container {
  
  box-sizing: border-box;
  border: 1px solid grey;
  
  margin: 0.5rem auto;
  width: 800px;
  height: 800px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}
.mapSelect-container-div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.map-container-div {
  border: 1px solid grey;
  display: flex;
  background-color: white;
  
}
.row {
  display: "flex";
  line-height: 32px;
  height: 32px;
}
